html{
    scroll-padding-top: 90px;
}
.container-lg{
    padding-block: 0.5rem;
    padding-inline: 4.5rem;
}
nav a{
    font-size: 0.8rem !important;
    color: #fff !important;
}
   /* CSS styles for the navbar */
.navbar {
    transition: background-color 0.5s;
     /* Add a smooth transition effect */
    /* color: #fff; */
}

.navbar-scrolled{
    background-color: #fff !important;
     /* New color when scrolled */
}
.navbar-scrolled a{
    color: #000 !important;
}
.button{
    color: #fff;
}
.navbar-scrolled .button {
    color: #000 !important;
}
.navbar-scrolled .active{
    border-bottom: 2px solid #000 !important;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.9)) ,url("../images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.navbar-toggler {
    color: #000;
    border-color: transparent !important;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 transparent;
}
.title h2{
    position: relative;
    z-index: 4;
    display: inline-block;
    font-weight: bold;
    font-size: 40px !important;
}
.title h2::after{
    content: '';
    width: 100%;
    height: 30px;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: -1;
}
header .caption h1{
    font-size: 3rem;
    font-weight: 300;
}
header .caption li{
    background-color: rgba(0, 0, 0, 0.5);
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
header .caption a{
    color: white !important;
}
nav .active{
    border-bottom: 2px solid #fff;
}
@media screen and (max-width: 992px){
.navbar-default .navbar-collapse {
    text-align: center;
    border-top: 1px solid rgba(12, 12, 12, 0.04);
    background: #fff;
}
nav ul a{
    color: #000 !important;
}
nav .active{
    border-bottom: 2px solid #000;
}
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
}
/* ------------------------ */
.progress{
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
}
.progress-bar {
    border-radius: 5px;
}
#about picture{
    position: relative;
}
/* #about picture::after{
    content: '';
    background-image: radial-gradient(rgba(0, 0, 0, 0.5) 1px, transparent 0);
    background-size: 10px 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: -1;
    opacity: 0.5;
} */

#about picture::after{
    content: '';
    width: 100%;
    height: 100%;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: -1;
}
#about .progress{
    margin-block: 1rem;
}
#about .btn1{
    background-color: #000;
    color: #fff;
    transition: 0.5s;
}
#about .btn2{
    background-color: #fff;
    color: #000;
    transition: 0.5s;

}
#about .btn1:hover{
    background-color: #fff;
    color: #000;
}
#about .btn2:hover{
    background-color: #000;
    color: #fff;
}
/* ------------------------ */
#services .card .i{
    transition: 0.5s;
}
#services .card:hover .i{
    color: #fff !important;
    background-color: #000 !important;
}
/* ------------------------ */
#works .tab li button{
    color: #000 !important;
}
.nav-underline .nav-link:hover {
    border-bottom-color: transparent;
}
#works picture{
    overflow: hidden;
}
#works picture .layer{
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
    bottom: 2%;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}
#works picture:hover .layer{
    top: 2%;
    opacity: 0.9;
    visibility: visible;
    background-color: #fff;
}
#works .icon a{
    background-color: #000;
    width: 2rem;
    margin: 2px;
    height: 2rem;
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    align-items: center;
    border-radius: 50%;
    color: #fff;
}
#works picture .icon .one:hover a{
    background-color: #fff;
    color: #000;
}
#works picture .icon .two:hover a{
    background-color: #fff;
    color: #000;
}
/* ------------------------ */
#clients  .img{
    width: 90px;
}
#clients .txt,#clients h4,#clients h5{
    font-size: 0.7rem;
}
#clients .carousel-indicators button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #aaa;
}
/* ------------------------ */
#progress p{
    color: gray;
    font-weight: 500;
    font-size: 1rem;
}
/* ------------------------ */
#team{
    background-color: #aaa;
    z-index: -2;
}
#team picture{
    overflow: hidden;
}
#team picture .layer{
    position: absolute;
    top: 10%;
    left: 2%;
    right: 2%;
    bottom: 2%;
    opacity: 0;
    transition: .4s;
    visibility: hidden;
}
#team picture:hover .layer{
    top: 2%;
    transform: rotateY(360deg);
    opacity: 0.9;
    visibility: visible;
    background-color: #fff;
}
#team .icon a{
    background-color: #000;
    width: 2rem;
    margin: 2px;
    height: 2rem;
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    align-items: center;
    border-radius: 50%;
    color: #fff;
}
#team picture .icon .one:hover a{
    background-color: #fff;
    color: #000;
}
#team picture .icon .two:hover a{
    background-color: #fff;
    color: #000;
}
#team picture .icon .three:hover a{
    background-color: #fff;
    color: #000;
}
#team picture .icon .four:hover a{
    background-color: #fff;
    color: #000;
}
#team picture .image img{
    transition: .5s;
}
#team picture .hover:hover img{
    scale: 1.2;
}
/* ------------------------ */
#contact .info p,#contact .info a{
    color: gray;
    font-size: 0.8rem;
    text-decoration: none;
}
#contact .mail{
    padding-inline: 8rem;
}
@media screen  and (max-width:992px){
    #contact .mail{
        padding-inline: 0 !important;
    }
    
}
#contact .icon{
    transition: .5s;
}
#contact .info:hover .icon{
    background-color: #000 !important;
    color: #fff !important;
}
#contact .firstTwo input{
    width: 48%;
}
.form-control{
    background-color: #F4F4F4;
}
.form-control:focus {
    background-color: #F4F4F4;
    border-color: transparent;
    box-shadow: 0 0 0 0.25rem transparent;
}
#contact .btn{
    transition: 0.5s;
}
#contact .btn:hover{
    color: #000 !important;
    background-color: #fff !important;
}
/* ------------------------ */
footer p{
    font-size: 14px;
}